<!DOCTYPE html>
<html>
<head>
  <title>Gunnertalkapp</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body id="<%= controller.action_name %>">
  <header id="header">
    <h1>GunnerTalk</h1>
  </header>
  
  <div id="content">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  
  <footer id="footer">
    &copy;2011&ndash; Me.
  </footer>
</body>
</html>
